<div class="container">
  <div class="box" style="margin: 5em auto; width: 25em;">
    <body>
  
      <h1 class="title is-centred">Password Generator</h1>
      <h2>Mehboob</h2>
    
      <div class="field">
    
        <label>Enter Length:</label>
        <input class="input is-normal is-primary" type="text" #myData (input)="onChangeLength(myData.value)">
      </div>
    
      <div class="field">
          
          <input type="checkbox" (change)="onChangeUseLetters()">
          <Label class="checkbox"> UseLetters </Label>

      </div>
    
      <div class="field">
         
          <input type="checkbox" (change)="onChangeUseNumber()">
          <label class="checkbox"> UseNumber  </label>

      </div>
    
      <div class="field"> 
         
          <input type="checkbox" (change)="onChangeUseSymbols()">
          <label class="checkbox">  UseSymbols  </label>

      </div> 
    
      <div>
        <label>
        <button class="button is-small is-primary" style="width: 100%;" (click)="onSubmit()" 
         [disabled]="!(length && includeLetters || includeNumbers || includeSymbols)">Generate Password!</button>
      </label>
      </div>
    
    
      <div class="field" *ngIf="password">
        <label class="label">Your Password:</label>
        <input class="input is-small is-primary" type="text" [value]="password">
      </div>
    
      
    
    </body>
  </div>
</div>